@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body * {
  font-family: "Poppins", sans-serif !important;
}

// common
.loadingOverlay {
  position: fixed;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  bottom: 0;
  top: 0;
  background: #00000052;
  z-index: 99999;
}

.loadingOverlay svg {
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.MuiCardContent-root {
  padding: 0px !important;
}
